/*
 @author Umar Riaz 
*/

* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins' !important; */
}

body {
  width: auto !important;
  min-height: 100% !important;
  background: #ffffff;
  margin: 0;
  width: 100%;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}
.collapse {
  z-index: 1050; /* Modal's z-index to keep it above the backdrop */
}
main{
  width: 100%;
  
  }
  
  main > .container {
    margin-top: 140px;
    width: auto;
  }